#content h1{
	margin:10px;
}

#content nav ul.clearfix li{
	padding:5px;
	float:left;
}

#top_photo{
	position:relative;
	width:100%;
	height:600px;
	overflow:hidden;
}

#top_photo img{
	margin-left:-590px;
	height:auto;
	max-height:600px;
	position:absolute;
	left:50%;
}
